@media screen and (min-width: 768px) and (max-width: 1068px) {
  header nav {
    height: 50px;
    .navbar-brand {
      font-size: 17px;
    }
    .navbar-nav > .nav-item > a {
      line-height: 50px;
      font-size: 12px !important;
    }
    &:hover .fa-angle-right {
      display: none !important;
    }
    .sub-menu-column:first-child a {
      font-size: 20px;
    }
  }
}