@media screen and (min-width: 768px) and (max-width: 1068px) {
  .nav-column {
    h3 {
      font-size: 12px;
      padding: 12px 0;
    }
    a {
      font-size: 12px;
      text-decoration: none;
      color: rgb(33 37 41 / 75%);
    }
  }
}
