@media screen and (max-width: 768px) {
  #footer {
    .column-section {
      h3 {
        cursor: pointer;
        font-weight: 500 !important;
        padding: 12px 0;
        font-size: 12px;
      }
      .border-h3 {
        border-bottom: 2px solid #dee2e6;
      }
      a {
        font-size: 12px;
        text-decoration: none;
        color: rgb(33 37 41 / 75%);
      }
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .fadeIn {
    animation: fadeIn 150ms ease forwards;
    -webkit-animation: fadeIn 150ms ease forwards;
  }
  @keyframes fadeIn {
    from {
      transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
    }
    to {
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
    }
  }
}
