@media screen and (min-width: 768px) and (max-width: 1068px) {
  .wrapper-product {
    height: 570px;
    .wrapper-product-top {
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
    }
    .wrapper-product-bottom {
      a {
        font-size: 17px;
      }
      p {
        font-size: 14px;
      }
    }

    .iphone-pro-16 {
      width: inherit;
      height: inherit;
      background: url(../../../images/hero_iphone16pro_medium.jpg) repeat center
        center;
      background-size: cover;
    }
    .iphone-16 {
      width: inherit;
      height: inherit;
      background: url(../../../images/hero_iphone16_medium.jpg) no-repeat center
        center;
      background-size: cover;
    }
    .watch-10 {
      width: inherit;
      height: inherit;
      background: url(../../../images/hero_apple_watch_series_10_medium.jpg) no-repeat
        center center;
      background-size: cover;
      .watch-logo {
        width: inherit;
        height: 70px;
        background: url(../../../images/hero_logo_apple_watch_series_10_medium.png)
          no-repeat center center;
      }
    }
  }
}
