@media screen and (max-width: 768px) {
   .promo-container {
    display: block;
    .wrapper-promo {
      height: 500px;
      a.btn {
        font-size: 14px;
      }
      .airpod-promo {
        background: url(../../../images/promo_airpods_small.jpg) no-repeat center
          center;
        background-size: cover;
      }
      .wrapper-promo-section {
        h3 {
          font-size: 32px;
        }
        p {
          font-size: 19px;
        }
      }
      .airpod-pro-promo {
        background: url(../../../images/promo_airpods_pro_2_small.jpg) repeat center
          center;
      }
      .promo-ipad-mini {
        background: url(../../../images/promo_ipad_mini_small.jpg) no-repeat center
          center;
        background-size: cover;
      }
      .watch-ultra {
        background: url(../../../images/promo_apple_watch_ultra2_small.jpg) no-repeat
          center center;
        background-size: cover;
        .watch-ultra-logo {
          height: 70px;
          background: url(../../../images/promo_logo_apple_watch_ultra2_small.png)
            no-repeat center center;
        }
      }
      .iphone-tradeIn {
        background: url(../../../images/promo_iphone_tradein_small.jpg) no-repeat
          center center;
        background-size: cover;
        .iphone-tradeIn-logo {
          height: 70px;
          background: url(../../../images/promo_logo_iphone_tradein_small.png)
            no-repeat center center;
        }
      }
      .card-promo {
        background: url(../../../images/promo_apple_card_small.jpg) no-repeat center
          center;
        background-size: cover;
        .card-promo-logo {
          height: 70px;
          background: url(../../../images/logo_card_small.png) no-repeat center center;
        }
      }
    }
  }
}
