@media screen and (min-width: 1200px) {
   .promo-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    padding: 0 12px;
    .wrapper-promo {
      height: 580px;
      a.btn {
        font-size: 14px;
      }
      .airpod-promo {
        background: url(../../../images/promo_airpods_4_large.jpg) no-repeat center
          center;
        background-size: cover;
      }
      .wrapper-promo-section {
        h3 {
          font-size: 40px;
        }
        p {
          font-size: 21px;
        }
      }
      .airpod-pro-promo {
        background: url(../../../images/promo_airpods_pro_2_large.jpg) repeat center
          center;
      }
      .promo-ipad-mini {
        background: url(../../../images/promo_ipad_mini_large.jpg) no-repeat center
          center;
        background-size: cover;
      }
      .watch-ultra {
        background: url(../../../images/promo_apple_watch_ultra2_large.jpg) no-repeat
          center center;
        background-size: cover;
        .watch-ultra-logo {
          height: 70px;
          background: url(../../../images/promo_logo_apple_watch_ultra2_large.png)
            no-repeat center center;
        }
      }
      .iphone-tradeIn {
        background: url(../../../images/promo_iphone_tradein_large.jpg) no-repeat
          center center;
        background-size: cover;
        .iphone-tradeIn-logo {
          height: 70px;
          background: url(../../../images/promo_logo_iphone_tradein_large.png)
            no-repeat center center;
        }
      }
      .card-promo {
        background: url(../../../images/promo_apple_card__large.jpg) no-repeat center
          center;
        background-size: cover;
        .card-promo-logo {
          height: 70px;
          background: url(../../../images/logo_card-large.png) no-repeat center center;
        }
      }
    }
  }
}
